<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.nuvyyo.tabloplayer"
	version="1">

	<name>TabloVideoPlayer Library Plugin</name>
	<description>TabloVideoPlayer Library Plugin</description>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<platform name="android">
		<!--
		<framework src="com.google.android.gms:play-services:7.5.0"  />
		<framework src="com.google.code.gson:gson:1.7.2"  />
		<framework src="com.android.support:appcompat-v7:22.0.0"  />
		<framework src="com.android.support:mediarouter-v7:21.0.3"  />
		<framework src="io.reactivex:rxjava:1.0.10"  />
		<framework src="io.reactivex:rxandroid:0.24.0"  />
		<framework src="com.squareup.picasso:picasso:2.5.2"  />
		<framework src="com.squareup.okhttp:okhttp:2.4.0"  />
		<framework src="com.squareup.okhttp:okhttp-urlconnection:2.4.0"  />

		<framework src="com.android.support:appcompat-v7:22.0.0" />
		<framework src="com.android.support:mediarouter-v7:21.0.3" />
		<framework src="com.google.android.gms:play-services-cast:7.5.0" />
		-->
		<framework src="CastCompanionLibrary" custom="true" />
		<framework src="player/app/src/main" custom="true" />
	</platform>
</plugin>
