<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="test-library-plugin"
	version="1">

	<name>Test Library Plugin</name>
	<description>Test Library Plugin</description>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<platform name="android">
		<framework src="framework/" custom="true" />
	</platform>
</plugin>