<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="test-plugin"
	version="1">

	<name>Test Plugin</name>
	<description>Test Plugin</description>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<platform name="android">
		<dependency id="com.nuvyyo.tabloplayer" url="file://../plugins-src/TabloPlayer" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="TestPlugin">
				<param name="android-package" value="com.nuvyyo.testing.testplugin.TestPlugin"/>
			</feature>
		</config-file>

		<source-file src="TestPlugin.java" target-dir="src/com/nuvyyo/testing/testplugin" />
	</platform>
</plugin>
